*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a{
  text-decoration: none;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.main-container{
  display: flex;
}

.main-container main{
  width: 100%;
  flex-direction: column;
}

.main{
  flex-direction: column;
}

.title{
  font-size: 30px;
}

.sidebar{
  background-color: black;
  color: antiquewhite;
  height: 100vh;
}

.top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.logo{
  font-size: 22px;
  line-height: 0;
}

.link{
  display: flex;
  color: azure;
  gap: 10px;
  padding: 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover{
  border-right: 4px solid white;
  color: black;
  background: rgb(110, 112, 128);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); 
}

.link:active{
  border-right: 4px solid white;
  color: black;
  background: rgb(110, 112, 128);
}

.actvie{
  border-right: 4px solid white;
  background: rgb(110, 112, 128)
}

.menu{
  display: flex;
  color: azure;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.menu-item{
  display: flex;
  gap: 10px;
}

.links{
  border-bottom: #fff 0.5px solid;
  display: flex;
  color: azure;
  gap: 10px;
  padding: 10px 30px;  
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.links:hover{
  border-right: 4px solid white;
  color: black;
  background: rgb(110, 112, 128);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.user-container{
  background-color: blanchedalmond;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header img{
  margin-left: 5px;
  width: 44px;
  height: 44px;
}

.header span{
  font-weight: 700;
  font-size: 29px;
}

.header button{
  background-color: #000000;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.footer{
  font-weight: 200;
}


.container{
  background-color: antiquewhite;
  width: 35%;
  height: 50%;
  margin: 80px auto;
  border: 2px solid rgba(49, 33, 33, 0.589);
  border-radius: 10px;
  box-shadow: 0 0 20px 20px;
}

.title{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration{
  padding-bottom: 15px;
  text-align: center;
}

.btn-regi{
  padding: 7px 70px;
  color: white;
  background-color: #498533;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.img-container{
  text-align: center;
}

.img{
  width: 70px;
  height: 70px;
}
.form-group{
  padding: 15px;
  text-align: center;
}

.input-prepend{
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-prepend input{
  width: 190px;
  border-radius: 5px;
  padding: 6px;
}

button[type=submit] {
  width: 45%;
  background-color: #3c19d6;
  padding: 7px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #595959;
}

.user-container{
  border: 2px solid gray;
    position: relative;
    border-radius: 20px;
    background-color: antiquewhite;
    width: 600px;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 10px rgb(49, 46, 46);
}

#title{
  text-align: center;
}

.form-group input{
    border-radius: 5px;
    padding: 6px;
}

.footer ul{
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  text-align: center;  
}

.footer li{
  display: inline-block;
  padding: 10px;
}


#heading{
  font-size: 25px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.table-container{
  border: 2px solid gray;
  position: relative;
  border-radius: 20px;
  background-color: antiquewhite;
  margin: auto;
  padding: 25px;
  box-shadow: 5px 10px rgb(49, 46, 46);
}

.registration button{
  color: white;
  background-color: #498533;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  margin-top: 10px;
  width: 45%;
}

.customlink{
  display: flex;
  justify-content: center;
}

.customlink a{
  padding: 10px;
  background-color: #000000;
  border-radius: 5px;
  color: white;
  margin: 10px;
}

.customlink a:hover{
  background-color: white;
  color: #000000
}

.custom{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.listOfProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.productDisplay {
  width: 300px;
  height: 300px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.productsList {
  columns: 3 auto;
  display: inline-block;
}

